<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->


  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="logInfo" xsi:type="File" fileName="${basedir}/../../logs/${shortdate}/${shortdate} ${level}_${processid}.html"
            archiveFileName="${basedir}/../../logs/${shortdate}/${shortdate}_${processid}.{#####}.txt"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" >
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="&lt;p&gt;----------Start--------&lt;p&gt;"/>
        <layout xsi:type="SimpleLayout" text="${longdate} ${machinename}: ${message}" />
        <footer xsi:type="SimpleLayout" text="&lt;p&gt;----------End-----------&lt;/p&gt;"/>
      </layout>
      
    </target>
    <target name="logError" xsi:type="File" fileName="${basedir}/../../logs/${shortdate}/${shortdate} ${level}_${processid}.html"
            archiveFileName="${basedir}/../../logs/${shortdate}/${shortdate}_${processid}.{#####}.txt"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" >
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="&lt;br&gt;----------Start--------&lt;/br&gt;"/>
        <layout xsi:type="SimpleLayout" text="&lt;br&gt;${longdate} ${machinename}: ${message}&lt;/br&gt;" />
        <footer xsi:type="SimpleLayout" text="&lt;br&gt;----------End-----------&lt;/br&gt;"/>
      </layout>
      
    </target>
    <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/../../logs/${shortdate}/${shortdate}.log"
                  layout="${machinename} ${longdate} ${uppercase:${level}} ${message}" />
    -->  
  </targets>

  <rules>
    <!-- add your logging rules here -->
      <logger name="*" level="Info" writeTo="logInfo" />
    <logger  name="*" level="Error" writeTo="logError" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>